In [3]:
library(readr)
library(dplyr)
dat <- read_csv("CollegeMobility.csv")
head(dat)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Warning message:
“Missing column names filled in: 'X44' [44], 'X45' [45]”Parsed with column specification:
cols(
  .default = col_double(),
  name = col_character(),
  tier_name = col_character(),
  state = col_character(),
  czname = col_character(),
  X44 = col_logical(),
  X45 = col_logical()
)
See spec(...) for full column specifications.

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        par_q1     ⋯
1 Two-year for-profit           2       1      NY    New York      0.44357512 ⋯
2 Selective private             1       3      TX    Abilene       0.05244135 ⋯
3 Nonselective four-year public 1       3      GA    Valdosta      0.15455518 ⋯
4 Four-year for-profit          1       4      CA    San Francisco 0.09352422 ⋯
5 Selective public              1       4      CO    Alamosa       0.12922439 ⋯
6 Selective private             1       1      NY    New York      0.08704802 ⋯
  kq3_cond_parq4 kq4_cond_parq4 kq5_cond_parq4 kq1_cond_parq5 kq2_cond_parq5
1 0.1760198      0.2858109      0.1156441      0.0962707      0.2985320
2 0.1742201      0.2332917      0.3146711      0.1346296      0.1225604
3 0.2335978      0.3056518      0.2012344      0.1240982      0.1493977
4 0.1671838      0.1889049      0.2519145      0.1966253      0.1850919
5 0.2277163      0.2919978      0.2034337      0.1050013      0.1181480
6 0.1625158      0.1900162      0.4280847      0.1032917      0.1018200
  kq3_cond_parq5 kq4_cond_parq5 kq5_cond_parq5 X44 X45
1 0.2036935      0.2042709      0.1972328      NA  NA
2 0.1417430      0.2391946      0.3618724      NA  NA
3 0.1966711      0.3047610      0.2250720      NA  NA
4 0.1701652      0.1515126      0.2966050      NA  NA
5 0.2660201      0.2192669      0.2915637      NA  NA
6 0.1185716      0.1900711      0.4862457      NA  NA

In [5]:
unconditionalprobability <- function(u, v) {
    n <- max(length(v),length(u))
    uncp <- rep(0, n)
    for (i in 1:n){
      uncp[i] <- u[i] * v[i]  
    }
   return(uncp) 
}

In [6]:
dset <- unique(dat[,c("super_opeid","name","type","tier","tier_name","iclevel","region","state","czname")])
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname
1 Two-year for-profit           2       1      NY    New York
2 Selective private             1       3      TX    Abilene
3 Nonselective four-year public 1       3      GA    Valdosta
4 Four-year for-profit          1       4      CA    San Francisco
5 Selective public              1       4      CO    Alamosa
6 Selective private             1       1      NY    New York

In [7]:
q1uncpq2 <- unconditionalprobability(dat$kq2_cond_parq1,dat$par_q1)
q1uncpq3 <- unconditionalprobability(dat$kq3_cond_parq1,dat$par_q1)
q1uncpq4 <- unconditionalprobability(dat$kq4_cond_parq1,dat$par_q1)
q1uncpq5 <- unconditionalprobability(dat$kq5_cond_parq1,dat$par_q1)
dset$q1upwardunc <- (q1uncpq2 + q1uncpq3 + q1uncpq4 + q1uncpq5)
q2uncpq3 <- unconditionalprobability(dat$kq3_cond_parq2,dat$par_q2)
q2uncpq4 <- unconditionalprobability(dat$kq4_cond_parq2,dat$par_q2)
q2uncpq5 <- unconditionalprobability(dat$kq5_cond_parq2,dat$par_q2)
dset$q2upwardunc <- (q2uncpq3 + q2uncpq4 + q2uncpq5)
q3uncpq4 <- unconditionalprobability(dat$kq4_cond_parq3,dat$par_q3)
q3uncpq5 <- unconditionalprobability(dat$kq5_cond_parq3,dat$par_q3)
dset$q3upwardunc <- (q3uncpq4 + q3uncpq5)
q4uncpq5 <- unconditionalprobability(dat$kq5_cond_parq4,dat$par_q4)
dset$q4upwardunc <- q4uncpq5
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1upwardunc
1 Two-year for-profit           2       1      NY    New York      0.36410721
2 Selective private             1       3      TX    Abilene       0.04750427
3 Nonselective four-year public 1       3      GA    Valdosta      0.12727762
4 Four-year for-profit          1       4      CA    San Francisco 0.06855044
5 Selective public              1       4      CO    Alamosa       0.10725715
6 Selective private             1       1      NY    New York      0.07847595
  q2upwardunc q3upwardunc q4upwardunc
1 0.18367028  0.04442283  0.006904734
2 0.06912338  0.08018735  0.081260674
3 0.12296674  0.10670210  0.047644772
4 0.07367335  0.06980032  0.053286245
5 0.12753162  0.11998007  0.053071032
6 0.09741475  0.09881902  0.098401498

In [8]:
conditionalprobability <- function(marginalprob,jointprob1,jointprob2,jointprob3,jointprob4) {
    n <- length(jointprob1)
    jointprob2 <- rep(0,n)
    jointprob3 <- rep(0,n)
    jointprob4 <- rep(0,n)
    jointprob5 <- rep(0,n)
    uncp <- rep(0, n)
    for (i in 1:n){
      uncp[i] <- (sum(jointprob1[i] , jointprob2[i] , jointprob3[i] , jointprob4[i])) / marginalprob[i]  
    }
   return(uncp) 
}

In [9]:
# These codes are not used in the following calculation, just in case if you guys want to analyze how do kids with parrents in different quintile do.
dset$upwardconq1 <-conditionalprobability(dat$par_q1,q1uncpq2,q1uncpq3,q1uncpq4,q1uncpq5)
dset$upwardconq2 <-conditionalprobability(dat$par_q2,q2uncpq3,q2uncpq4,q2uncpq5)
dset$upwardconq3 <-conditionalprobability(dat$par_q3,q3uncpq4,q3uncpq5)
dset$upwardconq4 <-conditionalprobability(dat$par_q4,q4uncpq5)
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1upwardunc
1 Two-year for-profit           2       1      NY    New York      0.36410721
2 Selective private             1       3      TX    Abilene       0.04750427
3 Nonselective four-year public 1       3      GA    Valdosta      0.12727762
4 Four-year for-profit          1       4      CA    San Francisco 0.06855044
5 Selective public              1       4      CO    Alamosa       0.10725715
6 Selective private             1       1      NY    New York      0.07847595
  q2upwardunc q3upwardunc q4upwardunc upwardconq1 upwardconq2 upwardconq3
1 0.18367028  0.04442283  0.006904734 0.3395770   0.2694793   0.2390751
2 0.06912338  0.08018735  0.081260674 0.1086272   0.2034312   0.2874772
3 0.12296674  0.10670210  0.047644772 0.2397960   0.2860668   0.3115461
4 0.07367335  0.06980032  0.053286245 0.1854258   0.2189319   0.1469258
5 0.12753162  0.11998007  0.053071032 0.2016696   0.2358722   0.2809070
6 0.09741475  0.09881902  0.098401498 0.1251636   0.1512318   0.1966504
  upwardconq4
1 0.1156441
2 0.3146711
3 0.2012344
4 0.2519145
5 0.2034337
6 0.4280847

In [10]:
totalmobility <- function (jointprobab1,jointprobab2,jointprobab3,jointprobab4){
       n <- length(jointprobab1)
    mob_all <- rep(0, n)
  for (i in 1:n){
      mob_all[i] <- jointprobab1[i] + jointprobab2[i] + jointprobab3[i] + jointprobab4[i]
      }
return (mob_all)
  }

In [11]:
dset$totalmobility <- totalmobility(dset$q1upwardunc,dset$q2upwardunc,dset$q3upwardunc,dset$q4upwardunc)

head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1upwardunc
1 Two-year for-profit           2       1      NY    New York      0.36410721
2 Selective private             1       3      TX    Abilene       0.04750427
3 Nonselective four-year public 1       3      GA    Valdosta      0.12727762
4 Four-year for-profit          1       4      CA    San Francisco 0.06855044
5 Selective public              1       4      CO    Alamosa       0.10725715
6 Selective private             1       1      NY    New York      0.07847595
  q2upwardunc q3upwardunc q4upwardunc upwardconq1 upwardconq2 upwardconq3
1 0.18367028  0.04442283  0.006904734 0.3395770   0.2694793   0.2390751
2 0.06912338  0.08018735  0.081260674 0.1086272   0.2034312   0.2874772
3 0.12296674  0.10670210  0.047644772 0.2397960   0.2860668   0.3115461
4 0.07367335  0.06980032  0.053286245 0.1854258   0.2189319   0.1469258
5 0.12753162  0.11998007  0.053071032 0.2016696   0.2358722   0.2809070
6 0.09741475  0.09881902  0.098401498 0.1251636   0.1512318   0.1966504
  upwardconq4 totalmobility
1 0.1156441   0.5991051
2 0.3146711   0.2780757
3 0.2012344   0.4045912
4 0.2519145   0.2653104
5 0.2034337   0.4078399
6 0.4280847   0.3731112

### Question 1. Does college education in the U.S. increase upward mobility of the younger generation?

In [21]:
t.test(dset$totalmobility)

	One Sample t-test

data:  dset$totalmobility
t = 189.95, df = 2198, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 0.3737481 0.3815458
sample estimates:
mean of x
0.3776469

### Question 2. Does attending public or private colleges make a difference in terms of upward mobility?

In [14]:
### not sure if it is right
public <-filter(dset, type == 1)
priv_npro <-filter(dset, type == 2)
forpro <- filter(dset, type == 3)
chisq.test(dset$type,dset$totalmobility)

Warning message in chisq.test(dset$type, dset$totalmobility):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  dset$type and dset$totalmobility
X-squared = 4398, df = 4396, p-value = 0.4887

In [16]:
t.test(public$totalmobility,priv_npro$totalmobility)

t.test(public$totalmobility, dset$totalmobility)

	Welch Two Sample t-test

data:  public$totalmobility and priv_npro$totalmobility
t = 13.109, df = 1585.2, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.04539056 0.06136358
sample estimates:
mean of x mean of y
0.3962793 0.3429022

	Welch Two Sample t-test

data:  public$totalmobility and dset$totalmobility
t = 6.0224, df = 2721.6, p-value = 1.95e-09
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.01256579 0.02469893
sample estimates:
mean of x mean of y
0.3962793 0.3776469

In [24]:
t.test(priv_npro$totalmobility,dset$totalmobility)

	Welch Two Sample t-test

data:  priv_npro$totalmobility and dset$totalmobility
t = -8.9974, df = 1444.5, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.04231973 -0.02716968
sample estimates:
mean of x mean of y
0.3429022 0.3776469

In [13]:
t.test(forpro$totalmobility,dset$totalmobility)

	Welch Two Sample t-test

data:  forpro$totalmobility and dset$totalmobility
t = 6.4992, df = 218.93, p-value = 5.375e-10
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.03951275 0.07390687
sample estimates:
mean of x mean of y
0.4482851 0.3915753

### Question 3. Does attending lvy or other colleges make a difference in terms of upward mobility?

In [17]:
ivy <- filter(dset, tier == 1)
other_colleges <-filter(dset, tier != 1)

In [18]:
t.test(ivy$totalmobility,other_colleges$totalmobility)

	Welch Two Sample t-test

data:  ivy$totalmobility and other_colleges$totalmobility
t = -13.023, df = 11.648, p-value = 2.688e-08
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.1796054 -0.1279741
sample estimates:
mean of x mean of y
0.2246964 0.3784862

In [16]:
t.test(ivy$totalmobility,dset$totalmobility)

	Welch Two Sample t-test

data:  ivy$totalmobility and dset$totalmobility
t = -25.633, df = 12.74, p-value = 2.416e-12
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.2430464 -0.2051908
sample estimates:
mean of x mean of y
0.1674567 0.3915753

### Question 4. Does attending colleges in different regions (1 = Northeast, 2 = Midwest, 3 = South, 4 = West) makes a difference in terms of upward mobility?

In [27]:
northeast <- filter(dset, region == 1)
midwest <- filter(dset, region == 2)
south <- filter(dset, region == 3)
west <- filter(dset, region == 4)

In [28]:
t.test(northeast$totalmobility,dset$totalmobility)

	Welch Two Sample t-test

data:  northeast$totalmobility and dset$totalmobility
t = -1.2304, df = 691.09, p-value = 0.219
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.016072985  0.003688687
sample estimates:
mean of x mean of y
0.3714548 0.3776469

In [29]:
t.test(south$totalmobility,dset$totalmobility)

	Welch Two Sample t-test

data:  south$totalmobility and dset$totalmobility
t = 4.84, df = 1384.7, p-value = 1.444e-06
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.01124607 0.02657552
sample estimates:
mean of x mean of y
0.3965577 0.3776469

In [30]:
t.test(west$totalmobility,dset$totalmobility)

	Welch Two Sample t-test

data:  west$totalmobility and dset$totalmobility
t = -2.4322, df = 547.77, p-value = 0.01533
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.021122481 -0.002247839
sample estimates:
mean of x mean of y
0.3659618 0.3776469

### Question 5. Does year-of-colleges (2-year, 4-year, less than 2 year) make a difference in terms of upward mobility?

In [20]:
twoyr <- filter(dset, tier == 11)
fouryr <-filter(dset, tier == 10)

In [21]:
t.test(twoyr$totalmobility,fouryr$totalmobility)

	Welch Two Sample t-test

data:  twoyr$totalmobility and fouryr$totalmobility
t = 2.7652, df = 140.78, p-value = 0.006452
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.01208973 0.07273332
sample estimates:
mean of x mean of y
0.4463197 0.4039082

### Question 6 Does attending colleges in different states (RI versus other state) make a difference in terms of upward mobility?

In [21]:
RhodeIsland <- filter(dset, state == "RI")
RhodeIsland

   super_opeid name                                       type tier
1   3401       Brown University                           2     1
2   3402       Bryant University                          2     6
3   3408       Community College Of Rhode Island          1     9
4   3404       Johnson & Wales University                 2     6
5   7845       New England Institute Of Technology        2     8
6   3406       Providence College                         2     4
7   3407       Rhode Island College                       1     5
8   3409       Rhode Island School Of Design              2     8
9   3410       Roger Williams University                  2     6
10 11647       SBI Campus - An Affiliate Of Sanford-Brown 3    11
11  3411       Salve Regina University                    2     6
12  3414       University Of Rhode Island                 1     5
   tier_name                                     iclevel region state
1  Ivy Plus                                      1       1      RI
2  Selective private                             1       1      RI
3  Two-year (public and private not-for-profit)  2       1      RI
4  Selective private                             1       1      RI
5  Nonselective four-year private not-for-profit 1       1      RI
6  Highly selective private                      1       1      RI
7  Selective public                              1       1      RI
8  Nonselective four-year private not-for-profit 1       1      RI
9  Selective private                             1       1      RI
10 Two-year for-profit                           2       1      RI
11 Selective private                             1       1      RI
12 Selective public                              1       1      RI
   czname     q1upwardunc q2upwardunc q3upwardunc q4upwardunc upwardconq1
1  Providence 0.01584510  0.03492005  0.02125386  0.07252935  0.06771187
2  Providence 0.01804856  0.05350075  0.04169452  0.15318818  0.06999034
3  Providence 0.14454832  0.11440925  0.11569327  0.05093064  0.26017273
4  Providence 0.10850931  0.12046063  0.11909486  0.05438447  0.20121797
5  Providence 0.11302493  0.11964894  0.13367222  0.08927906  0.22178304
6  Providence 0.01051018  0.03984329  0.02765036  0.10379121  0.02089778
7  Providence 0.07659457  0.10280212  0.12166147  0.10828966  0.18046823
8  Providence 0.02284536  0.03859232  0.04249664  0.04927470  0.20153809
9  Providence 0.02524314  0.06090175  0.06509446  0.10779707  0.13673677
10 Providence 0.19620020  0.14366816  0.09844528  0.03771766  0.24742965
11 Providence 0.02215721  0.06087530  0.06046268  0.09842925  0.11910093
12 Providence 0.04097875  0.07404494  0.06434031  0.11231147  0.11221264
   upwardconq2 upwardconq3 upwardconq4 totalmobility
1  0.08919157  0.1498274   0.5997119   0.1445484
2  0.08557492  0.1552544   0.6681939   0.2664320
3  0.27190563  0.2436235   0.1972099   0.4255815
4  0.26800631  0.2955930   0.2382871   0.4024493
5  0.20404682  0.2809249   0.3211782   0.4556252
6  0.11153561  0.1639972   0.5708235   0.1817950
7  0.21930906  0.2858710   0.3357867   0.4093478
8  0.12656035  0.2107091   0.3105851   0.1532090
9  0.16140027  0.2341278   0.4208284   0.2590364
10 0.25326513  0.2493809   0.2046557   0.4760313
11 0.12574275  0.2354553   0.4521486   0.2419244
12 0.17988386  0.2170016   0.4644059   0.2916755

In [22]:
t.test(RhodeIsland$totalmobility,dset$totalmobility)

	Welch Two Sample t-test

data:  RhodeIsland$totalmobility and dset$totalmobility
t = -2.3792, df = 11.099, p-value = 0.03636
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.15893566 -0.00627225
sample estimates:
mean of x mean of y
0.3089713 0.3915753