In [1]:
library(readr)
dat <- read_csv("CollegeMobility.csv")
head(dat)

Warning message:
“Missing column names filled in: 'X44' [44], 'X45' [45]”Parsed with column specification:
cols(
  .default = col_double(),
  name = col_character(),
  tier_name = col_character(),
  state = col_character(),
  czname = col_character(),
  X44 = col_logical(),
  X45 = col_logical()
)
See spec(...) for full column specifications.

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        par_q1     ⋯
1 Two-year for-profit           2       1      NY    New York      0.44357512 ⋯
2 Selective private             1       3      TX    Abilene       0.05244135 ⋯
3 Nonselective four-year public 1       3      GA    Valdosta      0.15455518 ⋯
4 Four-year for-profit          1       4      CA    San Francisco 0.09352422 ⋯
5 Selective public              1       4      CO    Alamosa       0.12922439 ⋯
6 Selective private             1       1      NY    New York      0.08704802 ⋯
  kq3_cond_parq4 kq4_cond_parq4 kq5_cond_parq4 kq1_cond_parq5 kq2_cond_parq5
1 0.1760198      0.2858109      0.1156441      0.0962707      0.2985320
2 0.1742201      0.2332917      0.3146711      0.1346296      0.1225604
3 0.2335978      0.3056518      0.2012344      0.1240982      0.1493977
4 0.1671838      0.1889049      0.2519145      0.1966253      0.1850919
5 0.2277163      0.2919978      0.2034337      0.1050013      0.1181480
6 0.1625158      0.1900162      0.4280847      0.1032917      0.1018200
  kq3_cond_parq5 kq4_cond_parq5 kq5_cond_parq5 X44 X45
1 0.2036935      0.2042709      0.1972328      NA  NA
2 0.1417430      0.2391946      0.3618724      NA  NA
3 0.1966711      0.3047610      0.2250720      NA  NA
4 0.1701652      0.1515126      0.2966050      NA  NA
5 0.2660201      0.2192669      0.2915637      NA  NA
6 0.1185716      0.1900711      0.4862457      NA  NA

In [2]:
unconditionalprobability <- function(u, v) {
    n <- max(length(v),length(u))
    uncp <- rep(0, n)
    for (i in 1:n){
      uncp[i] <- u[i] * v[i]  
    }
   return(uncp) 
}

In [3]:
dset <- unique(dat[,c("super_opeid","name","type","tier","tier_name","iclevel","region","state","czname")])
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname
1 Two-year for-profit           2       1      NY    New York
2 Selective private             1       3      TX    Abilene
3 Nonselective four-year public 1       3      GA    Valdosta
4 Four-year for-profit          1       4      CA    San Francisco
5 Selective public              1       4      CO    Alamosa
6 Selective private             1       1      NY    New York

In [10]:

q1uncpq2 <- unconditionalprobability(dat$kq2_cond_parq1,dat$par_q1)
q1uncpq3 <- unconditionalprobability(dat$kq3_cond_parq1,dat$par_q1)
q1uncpq4 <- unconditionalprobability(dat$kq4_cond_parq1,dat$par_q1)
q1uncpq5 <- unconditionalprobability(dat$kq4_cond_parq1,dat$par_q1)
dset$q1upwardunc <- (q1uncpq2 + q1uncpq3 + q1uncpq4 + q1uncpq5)
q2uncpq3 <- unconditionalprobability(dat$kq3_cond_parq2,dat$par_q2)
q2uncpq4 <- unconditionalprobability(dat$kq4_cond_parq2,dat$par_q2)
q2uncpq5 <- unconditionalprobability(dat$kq5_cond_parq2,dat$par_q2)
dset$q2upwardunc <- (q2uncpq3 + q2uncpq4 + q2uncpq5)
q3uncpq4 <- unconditionalprobability(dat$kq4_cond_parq3,dat$par_q3)
q3uncpq5 <- unconditionalprobability(dat$kq4_cond_parq3,dat$par_q3)
dset$q3upwardunc <- (q3uncpq4 + q3uncpq5)
q4uncpq5 <- unconditionalprobability(dat$kq5_cond_parq4,dat$par_q4)
dset$q4upwardunc <- q4uncpq5
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1upwardunc
1 Two-year for-profit           2       1      NY    New York      0.42938459
2 Selective private             1       3      TX    Abilene       0.04715943
3 Nonselective four-year public 1       3      GA    Valdosta      0.14125538
4 Four-year for-profit          1       4      CA    San Francisco 0.06775084
5 Selective public              1       4      CO    Alamosa       0.12248840
6 Selective private             1       1      NY    New York      0.06401230
  q2upwardunc q3upwardunc q4upwardunc
1 0.18367028  0.06871534  0.006904734
2 0.06912338  0.09425557  0.081260674
3 0.12296674  0.14050546  0.047644772
4 0.07367335  0.05152672  0.053286245
5 0.12753162  0.13957077  0.053071032
6 0.09741475  0.06152557  0.098401498

In [37]:
conditionalprobability <- function(marginalprob,jointprob1,jointprob2,jointprob3,jointprob4) {
    n <- length(jointprob1)
    jointprob2 <- rep(0,n)
    jointprob3 <- rep(0,n)
    jointprob4 <- rep(0,n)
    jointprob5 <- rep(0,n)
    uncp <- rep(0, n)
    for (i in 1:n){
      uncp[i] <- (sum(jointprob1[i] , jointprob2[i] , jointprob3[i] , jointprob4[i])) / marginalprob[i]  
    }
   return(uncp) 
}

In [38]:
dset$upwardconq1 <-conditionalprobability(dat$par_q1,q1uncpq2,q1uncpq3,q1uncpq4,q1uncpq5)
dset$upwardconq2 <-conditionalprobability(dat$par_q2,q2uncpq3,q2uncpq4,q2uncpq5)
dset$upwardconq3 <-conditionalprobability(dat$par_q3,q3uncpq4,q3uncpq5)
dset$upwardconq4 <-conditionalprobability(dat$par_q4,q4uncpq5)
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1upwardunc
1 Two-year for-profit           2       1      NY    New York      0.42938459
2 Selective private             1       3      TX    Abilene       0.04715943
3 Nonselective four-year public 1       3      GA    Valdosta      0.14125538
4 Four-year for-profit          1       4      CA    San Francisco 0.06775084
5 Selective public              1       4      CO    Alamosa       0.12248840
6 Selective private             1       1      NY    New York      0.06401230
  q2upwardunc q3upwardunc q4upwardunc upwardconq1 upwardconq2 upwardconq3
1 0.18367028  0.06871534  0.006904734 0.3395770   0.2694793   0.2390751
2 0.06912338  0.09425557  0.081260674 0.1086272   0.2034312   0.2874772
3 0.12296674  0.14050546  0.047644772 0.2397960   0.2860668   0.3115461
4 0.07367335  0.05152672  0.053286245 0.1854258   0.2189319   0.1469258
5 0.12753162  0.13957077  0.053071032 0.2016696   0.2358722   0.2809070
6 0.09741475  0.06152557  0.098401498 0.1251636   0.1512318   0.1966504
  upwardconq4
1 0.1156441
2 0.3146711
3 0.2012344
4 0.2519145
5 0.2034337
6 0.4280847

In [45]:
totalmobility <- function (jointprobab1,jointprobab2,jointprobab3,jointprobab4){
       n <- length(jointprobab1)
    mob_all <- rep(0, n)
  for (i in 1:n){
      mob_all[i] <- jointprobab1[i] + jointprobab2[i] + jointprobab3[i] + jointprobab4[i]
      }
return (mob_all)
  }

In [47]:
dset$totalmobility <- totalmobility(dset$q1upwardunc,dset$q2upwardunc,dset$q3upwardunc,dset$q4upwardunc)

head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1upwardunc
1 Two-year for-profit           2       1      NY    New York      0.42938459
2 Selective private             1       3      TX    Abilene       0.04715943
3 Nonselective four-year public 1       3      GA    Valdosta      0.14125538
4 Four-year for-profit          1       4      CA    San Francisco 0.06775084
5 Selective public              1       4      CO    Alamosa       0.12248840
6 Selective private             1       1      NY    New York      0.06401230
  q2upwardunc q3upwardunc q4upwardunc upwardconq1 upwardconq2 upwardconq3
1 0.18367028  0.06871534  0.006904734 0.3395770   0.2694793   0.2390751
2 0.06912338  0.09425557  0.081260674 0.1086272   0.2034312   0.2874772
3 0.12296674  0.14050546  0.047644772 0.2397960   0.2860668   0.3115461
4 0.07367335  0.05152672  0.053286245 0.1854258   0.2189319   0.1469258
5 0.12753162  0.13957077  0.053071032 0.2016696   0.2358722   0.2809070
6 0.09741475  0.06152557  0.098401498 0.1251636   0.1512318   0.1966504
  upwardconq4 totalmobility
1 0.1156441   0.6886749
2 0.3146711   0.2917991
3 0.2012344   0.4523724
4 0.2519145   0.2462372
5 0.2034337   0.4426618
6 0.4280847   0.3213541

Does year-of-colleges (2-year, 4-year, less than 2 year) make a difference in terms of upward mobility?

Does attending colleges in different states (RI versus other state) make a difference in terms of upward mobility?
upward mobility for parrent who are at the bottom