In [34]:
library(readr)
library(dplyr)
dat <- read_csv("CollegeMobility.csv")
head(dat)

Warning message:
“Missing column names filled in: 'X44' [44], 'X45' [45]”Parsed with column specification:
cols(
  .default = col_double(),
  name = col_character(),
  tier_name = col_character(),
  state = col_character(),
  czname = col_character(),
  X44 = col_logical(),
  X45 = col_logical()
)
See spec(...) for full column specifications.

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        par_q1     ⋯
1 Two-year for-profit           2       1      NY    New York      0.44357512 ⋯
2 Selective private             1       3      TX    Abilene       0.05244135 ⋯
3 Nonselective four-year public 1       3      GA    Valdosta      0.15455518 ⋯
4 Four-year for-profit          1       4      CA    San Francisco 0.09352422 ⋯
5 Selective public              1       4      CO    Alamosa       0.12922439 ⋯
6 Selective private             1       1      NY    New York      0.08704802 ⋯
  kq3_cond_parq4 kq4_cond_parq4 kq5_cond_parq4 kq1_cond_parq5 kq2_cond_parq5
1 0.1760198      0.2858109      0.1156441      0.0962707      0.2985320
2 0.1742201      0.2332917      0.3146711      0.1346296      0.1225604
3 0.2335978      0.3056518      0.2012344      0.1240982      0.1493977
4 0.1671838      0.1889049      0.2519145      0.1966253      0.1850919
5 0.2277163      0.2919978      0.2034337      0.1050013      0.1181480
6 0.1625158      0.1900162      0.4280847      0.1032917      0.1018200
  kq3_cond_parq5 kq4_cond_parq5 kq5_cond_parq5 X44 X45
1 0.2036935      0.2042709      0.1972328      NA  NA
2 0.1417430      0.2391946      0.3618724      NA  NA
3 0.1966711      0.3047610      0.2250720      NA  NA
4 0.1701652      0.1515126      0.2966050      NA  NA
5 0.2660201      0.2192669      0.2915637      NA  NA
6 0.1185716      0.1900711      0.4862457      NA  NA

In [35]:
dset <- unique(dat[,c("super_opeid","name","type","tier","tier_name","iclevel","region","state","czname")])
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname
1 Two-year for-profit           2       1      NY    New York
2 Selective private             1       3      TX    Abilene
3 Nonselective four-year public 1       3      GA    Valdosta
4 Four-year for-profit          1       4      CA    San Francisco
5 Selective public              1       4      CO    Alamosa
6 Selective private             1       1      NY    New York

In [36]:
dset$q1up <- rowSums(dat[,c("kq2_cond_parq1","kq3_cond_parq1","kq4_cond_parq1","kq5_cond_parq1")])
dset$q2up <- rowSums(dat[,c("kq3_cond_parq2","kq4_cond_parq2","kq5_cond_parq2")])
dset$q3up <- rowSums(dat[,c("kq4_cond_parq3","kq5_cond_parq3")])
dset$q4up <- rowSums(dat[,c("kq5_cond_parq4")])


head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1up
1 Two-year for-profit           2       1      NY    New York      0.8208468
2 Selective private             1       3      TX    Abilene       0.9058552
3 Nonselective four-year public 1       3      GA    Valdosta      0.8235093
4 Four-year for-profit          1       4      CA    San Francisco 0.7329699
5 Selective public              1       4      CO    Alamosa       0.8300070
6 Selective private             1       1      NY    New York      0.9015248
  q2up      q3up      q4up
1 0.5620435 0.3091127 0.1156441
2 0.6841733 0.4891389 0.3146711
3 0.6570189 0.4731862 0.2012344
4 0.5993741 0.3980640 0.2519145
5 0.6874876 0.4829557 0.2034337
6 0.7578637 0.6316984 0.4280847

In [40]:
# These codes are not used in the following calculation, just in case if you guys want to analyze how do kids with parrents in different quintile do.
dset$q5down <- rowSums(dat[,c("kq4_cond_parq5","kq3_cond_parq5","kq2_cond_parq5","kq1_cond_parq5")])
dset$q4down <- rowSums(dat[,c("kq3_cond_parq4","kq2_cond_parq4","kq1_cond_parq4")])
dset$q3down <- rowSums(dat[,c("kq2_cond_parq3","kq1_cond_parq3")])
dset$q2down <- rowSums(dat[,c("kq1_cond_parq2")])
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1up
1 Two-year for-profit           2       1      NY    New York      0.8208468
2 Selective private             1       3      TX    Abilene       0.9058552
3 Nonselective four-year public 1       3      GA    Valdosta      0.8235093
4 Four-year for-profit          1       4      CA    San Francisco 0.7329699
5 Selective public              1       4      CO    Alamosa       0.8300070
6 Selective private             1       1      NY    New York      0.9015248
  q2up      q3up      q4up      q5down    q4down    q3down    q2down
1 0.5620435 0.3091127 0.1156441 0.8027672 0.5985450 0.4154366 0.1655211
2 0.6841733 0.4891389 0.3146711 0.6381276 0.4520373 0.3024865 0.1861876
3 0.6570189 0.4731862 0.2012344 0.7749280 0.4931138 0.2545018 0.1140146
4 0.5993741 0.3980640 0.2519145 0.7033950 0.5591806 0.4205924 0.2090548
5 0.6874876 0.4829557 0.2034337 0.7084363 0.5045686 0.2529271 0.1288845
6 0.7578637 0.6316984 0.4280847 0.5137543 0.3818990 0.1971782 0.1281903

In [45]:
idx <- function(k, v1, v2, v3, v4, v5){
    a <- rowSums(cbind((1-k)*v1, (2-k)*v2, (3-k)*v3, (4-k)*v4, (5-k)*v5))
    return(a)
}

dset$mobility1 <- idx(1, dat$kq1_cond_parq1, dat$kq2_cond_parq1, dat$kq3_cond_parq1, dat$kq4_cond_parq1, dat$kq5_cond_parq1)
dset$mobility2 <- idx(2, dat$kq1_cond_parq2, dat$kq2_cond_parq2, dat$kq3_cond_parq2, dat$kq4_cond_parq2, dat$kq5_cond_parq2)
dset$mobility3 <- idx(3, dat$kq1_cond_parq3, dat$kq2_cond_parq3, dat$kq3_cond_parq3, dat$kq4_cond_parq3, dat$kq5_cond_parq3)
dset$mobility4 <- idx(4, dat$kq1_cond_parq4, dat$kq2_cond_parq4, dat$kq3_cond_parq4, dat$kq4_cond_parq4, dat$kq5_cond_parq4)
dset$mobility5 <- idx(5, dat$kq1_cond_parq5, dat$kq2_cond_parq5, dat$kq3_cond_parq5, dat$kq4_cond_parq5, dat$kq5_cond_parq5)
dset$mobility  <- rowSums(cbind(dset$mobility1,dset$mobility2,dset$mobility3,dset$mobility4,dset$mobility5))

head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        q1up      ⋯
1 Two-year for-profit           2       1      NY    New York      0.8208468 ⋯
2 Selective private             1       3      TX    Abilene       0.9058552 ⋯
3 Nonselective four-year public 1       3      GA    Valdosta      0.8235093 ⋯
4 Four-year for-profit          1       4      CA    San Francisco 0.7329699 ⋯
5 Selective public              1       4      CO    Alamosa       0.8300070 ⋯
6 Selective private             1       1      NY    New York      0.9015248 ⋯
  q5down    q4down    q3down    q2down    mobility   mobility1 mobility2
1 0.8027672 0.5985450 0.4154366 0.1655211 -0.7957861 1.584773  0.7737764
2 0.6381276 0.4520373 0.3024865 0.1861876  2.0071932 2.518216  1.2263793
3 0.7749280 0.4931138 0.2545018 0.1140146  0.8160261 1.786050  1.0564324
4 0.7033950 0.5591806 0.4205924 0.2090548  0.1080854 1.796664  1.0148164
5 0.7084363 0.5045686 0.2529271 0.1288845  1.2915529 2.013698  1.1726510
6 0.5137543 0.3818990 0.1971782 0.1281903  3.6559698 2.634732  1.6490488
  mobility3  mobility4  mobility5
1 -0.2276384 -1.0343600 -1.892337
2  0.2446637 -0.5531854 -1.428880
3  0.2603396 -0.6441070 -1.642689
4  0.0288504 -0.8986257 -1.833620
5  0.3264908 -0.6955311 -1.525756
6  0.7790028 -0.2609731 -1.145841

### Question 1. Does college education in the U.S. increase upward mobility of the younger generation?

In [46]:
t.test(dset$mobility)

	One Sample t-test

data:  dset$mobility
t = 37.836, df = 2198, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 1.438530 1.595801
sample estimates:
mean of x
 1.517165

### Question 2. Does attending public or private colleges make a difference in terms of upward mobility?

In [57]:
dset$type2 <- rep(2,)

n = length(dset$type)
for (i in 1:n){
      if (dset$type[i]==1){
          dset$type2[i] <- 1
      }
    }

public <-filter(dset, type == 1)
private <-filter(dset, type == 2)

summary(dset)
summary(public)
summary(private)

t.test(public$mobility,private$mobility)

  super_opeid        name                type            tier
 Min.   :    1   Length:2199        Min.   :1.000   Min.   : 1.000
 1st Qu.: 1938   Class :character   1st Qu.:1.000   1st Qu.: 6.000
 Median : 3035   Mode  :character   Median :1.000   Median : 6.000
 Mean   : 5324                      Mean   :1.545   Mean   : 7.103
 3rd Qu.: 5254                      3rd Qu.:2.000   3rd Qu.: 9.000
 Max.   :41519                      Max.   :3.000   Max.   :12.000
  tier_name            iclevel          region         state
 Length:2199        Min.   :1.000   Min.   :1.000   Length:2199
 Class :character   1st Qu.:1.000   1st Qu.:2.000   Class :character
 Mode  :character   Median :1.000   Median :3.000   Mode  :character
                    Mean   :1.402   Mean   :2.481
                    3rd Qu.:2.000   3rd Qu.:3.000
                    Max.   :3.000   Max.   :4.000
    czname               q1up             q2up             q3up
 Length:2199        Min.   :0.3486   Min.   :0.2650   Min.   :0.09787
 Class :character   1st Qu.:0.8122   1st Qu.:0.6113   1st Qu.:0.39618
 Mode  :character   Median :0.8490   Median :0.6784   Median :0.47573
                    Mean   :0.8448   Mean   :0.6811   Mean   :0.49345
                    3rd Qu.:0.8836   3rd Qu.:0.7628   3rd Qu.:0.59457
                    Max.   :1.0000   Max.   :0.9502   Max.   :0.92629
      q4up            q5down           q4down            q3down
 Min.   :0.0000   Min.   :0.1271   Min.   :0.06122   Min.   :0.04933
 1st Qu.:0.1820   1st Qu.:0.6135   1st Qu.:0.36830   1st Qu.:0.21840
 Median :0.2406   Median :0.7174   Median :0.48145   Median :0.29468
 Mean   :0.2713   Mean   :0.6915   Mean   :0.46969   Mean   :0.29207
 3rd Qu.:0.3384   3rd Qu.:0.7879   3rd Qu.:0.55961   3rd Qu.:0.35301
 Max.   :0.8195   Max.   :1.0000   Max.   :0.92991   Max.   :0.72878
     q2down            mobility         mobility1       mobility2
 Min.   :0.000299   Min.   :-3.8414   Min.   :0.812   Min.   :0.00903
 1st Qu.:0.104633   1st Qu.: 0.1964   1st Qu.:1.771   1st Qu.:0.93187
 Median :0.134096   Median : 1.2123   Median :2.031   Median :1.16126
 Mean   :0.137133   Mean   : 1.5172   Mean   :2.099   Mean   :1.21910
 3rd Qu.:0.165708   3rd Qu.: 2.8424   3rd Qu.:2.401   3rd Qu.:1.50785
 Max.   :0.378728   Max.   : 8.2631   Max.   :3.799   Max.   :2.54012
   mobility3          mobility4         mobility5           type2
 Min.   :-0.96806   Min.   :-2.1216   Min.   :-3.1437   Min.   :1.000
 1st Qu.: 0.05298   1st Qu.:-0.8390   1st Qu.:-1.7835   1st Qu.:1.000
 Median : 0.25545   Median :-0.6312   Median :-1.5633   Median :1.000
 Mean   : 0.31509   Mean   :-0.5879   Mean   :-1.5282   Mean   :1.459
 3rd Qu.: 0.57555   3rd Qu.:-0.3229   3rd Qu.:-1.2629   3rd Qu.:2.000
 Max.   : 1.64433   Max.   : 0.7053   Max.   :-0.3275   Max.   :2.000

  super_opeid        name                type        tier
 Min.   :    1   Length:1190        Min.   :1   Min.   : 2.000
 1st Qu.: 1924   Class :character   1st Qu.:1   1st Qu.: 5.000
 Median : 3185   Mode  :character   Median :1   Median : 9.000
 Mean   : 5032                      Mean   :1   Mean   : 7.467
 3rd Qu.: 5733                      3rd Qu.:1   3rd Qu.: 9.000
 Max.   :41519                      Max.   :1   Max.   :12.000
  tier_name            iclevel          region         state
 Length:1190        Min.   :1.000   Min.   :1.000   Length:1190
 Class :character   1st Qu.:1.000   1st Qu.:2.000   Class :character
 Mode  :character   Median :2.000   Median :3.000   Mode  :character
                    Mean   :1.601   Mean   :2.679
                    3rd Qu.:2.000   3rd Qu.:3.000
                    Max.   :3.000   Max.   :4.000
    czname               q1up             q2up             q3up
 Length:1190        Min.   :0.5933   Min.   :0.3810   Min.   :0.1582
 Class :character   1st Qu.:0.8086   1st Qu.:0.6020   1st Qu.:0.3838
 Mode  :character   Median :0.8403   Median :0.6447   Median :0.4353
                    Mean   :0.8384   Mean   :0.6569   Mean   :0.4577
                    3rd Qu.:0.8723   3rd Qu.:0.7208   3rd Qu.:0.5238
                    Max.   :1.0000   Max.   :0.9082   Max.   :0.8430
      q4up             q5down           q4down           q3down
 Min.   :0.05244   Min.   :0.1523   Min.   :0.1290   Min.   :0.07614
 1st Qu.:0.17291   1st Qu.:0.6759   1st Qu.:0.4324   1st Qu.:0.25630
 Median :0.22065   Median :0.7446   Median :0.5208   Median :0.32073
 Mean   :0.23951   Mean   :0.7240   Mean   :0.5001   Mean   :0.31107
 3rd Qu.:0.27530   3rd Qu.:0.7970   3rd Qu.:0.5688   3rd Qu.:0.36129
 Max.   :0.76384   Max.   :1.0000   Max.   :0.8257   Max.   :0.65919
     q2down            mobility           mobility1       mobility2
 Min.   :0.008281   Min.   :-2.521666   Min.   :1.168   Min.   :0.2613
 1st Qu.:0.117689   1st Qu.: 0.004088   1st Qu.:1.721   1st Qu.:0.8901
 Median :0.143403   Median : 0.655543   Median :1.914   Median :1.0433
 Mean   :0.145899   Mean   : 1.030904   Mean   :1.976   Mean   :1.1100
 3rd Qu.:0.171685   3rd Qu.: 1.841354   3rd Qu.:2.168   3rd Qu.:1.2954
 Max.   :0.295101   Max.   : 6.690271   Max.   :3.699   Max.   :2.2801
   mobility3          mobility4         mobility5           type2
 Min.   :-0.69221   Min.   :-1.5167   Min.   :-2.7457   Min.   :1
 1st Qu.: 0.01993   1st Qu.:-0.8609   1st Qu.:-1.8103   1st Qu.:1
 Median : 0.15633   Median :-0.7260   Median :-1.6552   Median :1
 Mean   : 0.21963   Mean   :-0.6693   Mean   :-1.6055   Mean   :1
 3rd Qu.: 0.38413   3rd Qu.:-0.5005   3rd Qu.:-1.4274   3rd Qu.:1
 Max.   : 1.43579   Max.   : 0.4920   Max.   :-0.3275   Max.   :1

  super_opeid        name                type        tier
 Min.   :  122   Length:819         Min.   :2   Min.   : 1.000
 1st Qu.: 1876   Class :character   1st Qu.:2   1st Qu.: 6.000
 Median : 2701   Mode  :character   Median :2   Median : 6.000
 Mean   : 3316                      Mean   :2   Mean   : 5.717
 3rd Qu.: 3390                      3rd Qu.:2   3rd Qu.: 6.000
 Max.   :33283                      Max.   :2   Max.   :12.000
  tier_name            iclevel         region         state
 Length:819         Min.   :1.00   Min.   :1.000   Length:819
 Class :character   1st Qu.:1.00   1st Qu.:1.000   Class :character
 Mode  :character   Median :1.00   Median :2.000   Mode  :character
                    Mean   :1.02   Mean   :2.183
                    3rd Qu.:1.00   3rd Qu.:3.000
                    Max.   :3.00   Max.   :4.000
    czname               q1up             q2up             q3up
 Length:819         Min.   :0.3486   Min.   :0.3624   Min.   :0.1067
 Class :character   1st Qu.:0.8297   1st Qu.:0.6894   1st Qu.:0.4904
 Mode  :character   Median :0.8706   Median :0.7490   Median :0.5875
                    Mean   :0.8601   Mean   :0.7390   Mean   :0.5786
                    3rd Qu.:0.9038   3rd Qu.:0.8034   3rd Qu.:0.6760
                    Max.   :1.0000   Max.   :0.9502   Max.   :0.9263
      q4up             q5down           q4down            q3down
 Min.   :0.03312   Min.   :0.1271   Min.   :0.06122   Min.   :0.04933
 1st Qu.:0.23702   1st Qu.:0.5282   1st Qu.:0.30275   1st Qu.:0.18182
 Median :0.32255   Median :0.6294   Median :0.37809   Median :0.22622
 Mean   :0.34383   Mean   :0.6179   Mean   :0.39108   Mean   :0.24173
 3rd Qu.:0.43182   3rd Qu.:0.7238   3rd Qu.:0.46489   3rd Qu.:0.29049
 Max.   :0.81954   Max.   :1.0000   Max.   :0.82764   Max.   :0.69392
     q2down            mobility        mobility1        mobility2
 Min.   :0.000299   Min.   :-2.346   Min.   :0.8473   Min.   :0.2206
 1st Qu.:0.085001   1st Qu.: 1.484   1st Qu.:2.0713   1st Qu.:1.2140
 Median :0.110935   Median : 2.673   Median :2.3511   Median :1.4657
 Mean   :0.117538   Mean   : 2.672   Mean   :2.3580   Mean   :1.4646
 3rd Qu.:0.141200   3rd Qu.: 3.875   3rd Qu.:2.6562   3rd Qu.:1.7326
 Max.   :0.378728   Max.   : 8.263   Max.   :3.7985   Max.   :2.5401
   mobility3         mobility4         mobility5           type2
 Min.   :-0.8098   Min.   :-1.6441   Min.   :-2.5387   Min.   :2
 1st Qu.: 0.2863   1st Qu.:-0.6055   1st Qu.:-1.5600   1st Qu.:2
 Median : 0.5456   Median :-0.3536   Median :-1.2964   Median :2
 Mean   : 0.5441   Mean   :-0.3737   Mean   :-1.3215   Mean   :2
 3rd Qu.: 0.8029   3rd Qu.:-0.1198   3rd Qu.:-1.0661   3rd Qu.:2
 Max.   : 1.6443   Max.   : 0.7053   Max.   :-0.3409   Max.   :2

	Welch Two Sample t-test

data:  public$mobility and private$mobility
t = -21.878, df = 1578.5, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.787858 -1.493649
sample estimates:
mean of x mean of y
 1.030904  2.671658

### Question 3. Does attending lvy or other colleges make a difference in terms of upward mobility?

In [58]:
ivy <- filter(dset, tier == 1)
other_colleges <-filter(dset, tier != 1)

In [59]:
t.test(ivy$mobility,other_colleges$mobility)

	Welch Two Sample t-test

data:  ivy$mobility and other_colleges$mobility
t = 26.734, df = 12.826, p-value = 1.248e-12
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 3.600085 4.234028
sample estimates:
mean of x mean of y
 5.412847  1.495790

In [61]:
t.test(ivy$mobility,dset$mobility)

	Welch Two Sample t-test

data:  ivy$mobility and dset$mobility
t = 26.575, df = 12.851, p-value = 1.293e-12
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 3.578618 4.212745
sample estimates:
mean of x mean of y
 5.412847  1.517165

### Question 4. Does attending colleges in different regions (1 = Northeast, 2 = Midwest, 3 = South, 4 = West) makes a difference in terms of upward mobility?

In [63]:
northeast <- filter(dset, region == 1)
midwest <- filter(dset, region == 2)
south <- filter(dset, region == 3)
west <- filter(dset, region == 4)

In [64]:
t.test(northeast$mobility,dset$mobility)

	Welch Two Sample t-test

data:  northeast$mobility and dset$mobility
t = 8.1874, df = 691.67, p-value = 1.286e-15
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.6309745 1.0290646
sample estimates:
mean of x mean of y
 2.347185  1.517165

In [65]:
t.test(south$mobility,dset$mobility)

	Welch Two Sample t-test

data:  south$mobility and dset$mobility
t = -6.5556, df = 1561.8, p-value = 7.508e-11
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.6113280 -0.3297507
sample estimates:
mean of x mean of y
 1.046626  1.517165

In [71]:
t.test(midwest$mobility,dset$mobility)
t.test(west$mobility,dset$mobility)

	Welch Two Sample t-test

data:  midwest$mobility and dset$mobility
t = 2.3694, df = 858.81, p-value = 0.01804
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.0343677 0.3660716
sample estimates:
mean of x mean of y
 1.717385  1.517165

	Welch Two Sample t-test

data:  west$mobility and dset$mobility
t = -3.7104, df = 526.82, p-value = 0.0002289
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.5794073 -0.1782594
sample estimates:
mean of x mean of y
 1.138332  1.517165

### Question 5. Does year-of-colleges (2-year, 4-year, less than 2 year) make a difference in terms of upward mobility?

In [80]:
twoyr <- filter(dset, tier == 11)
fouryr <-filter(dset, tier == 10)

In [78]:
t.test(twoyr$mobility,fouryr$mobility)

	Welch Two Sample t-test

data:  twoyr$mobility and fouryr$mobility
t = -2.3125, df = 147.55, p-value = 0.02214
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.05170719 -0.08246706
sample estimates:
 mean of x  mean of y
-0.3622440  0.2048432

### Question 6 Does attending colleges in different states (RI versus other state) make a difference in terms of upward mobility?

In [81]:
RhodeIsland <- filter(dset, state == "RI")
RhodeIsland

   super_opeid name                                       type tier
1   3401       Brown University                           2     1
2   3402       Bryant University                          2     6
3   3408       Community College Of Rhode Island          1     9
4   3404       Johnson & Wales University                 2     6
5   7845       New England Institute Of Technology        2     8
6   3406       Providence College                         2     4
7   3407       Rhode Island College                       1     5
8   3409       Rhode Island School Of Design              2     8
9   3410       Roger Williams University                  2     6
10 11647       SBI Campus - An Affiliate Of Sanford-Brown 3    11
11  3411       Salve Regina University                    2     6
12  3414       University Of Rhode Island                 1     5
   tier_name                                     iclevel region state
1  Ivy Plus                                      1       1      RI
2  Selective private                             1       1      RI
3  Two-year (public and private not-for-profit)  2       1      RI
4  Selective private                             1       1      RI
5  Nonselective four-year private not-for-profit 1       1      RI
6  Highly selective private                      1       1      RI
7  Selective public                              1       1      RI
8  Nonselective four-year private not-for-profit 1       1      RI
9  Selective private                             1       1      RI
10 Two-year for-profit                           2       1      RI
11 Selective private                             1       1      RI
12 Selective public                              1       1      RI
   czname     q1up      ⋯ q4down    q3down    q2down     mobility  mobility1
1  Providence 0.8824303 ⋯ 0.2510130 0.1839086 0.09879550 5.0456809 2.949877
2  Providence 0.9448969 ⋯ 0.1364266 0.1252634 0.07111989 6.2788887 3.090899
3  Providence 0.8186767 ⋯ 0.5438453 0.3611156 0.16739875 0.1857043 1.769052
4  Providence 0.8516452 ⋯ 0.4756646 0.2645194 0.12033283 1.5430324 2.042767
5  Providence 0.8616427 ⋯ 0.4042837 0.2585191 0.14667598 2.1265954 2.066027
6  Providence 0.8213926 ⋯ 0.2151156 0.1384581 0.07493895 5.3738154 2.680656
7  Providence 0.8979180 ⋯ 0.3789236 0.2539536 0.07346319 2.6795404 2.279001
8  Providence 0.8054627 ⋯ 0.4604120 0.3789007 0.14912108 1.6209913 2.135780
9  Providence 0.8934572 ⋯ 0.3007959 0.2018624 0.06614973 3.9278486 2.455235
10 Providence 0.8436378 ⋯ 0.5107575 0.3355153 0.18803380 0.2849600 1.872970
11 Providence 0.8694982 ⋯ 0.2484470 0.2220797 0.03099425 3.8787385 2.631644
12 Providence 0.9082429 ⋯ 0.2873966 0.1586277 0.09296581 4.2408880 2.682054
   mobility2 mobility3  mobility4   mobility5  type2
1  1.9949354 0.94151463  0.09444714 -0.9350934 2
2  2.0278108 1.30131055  0.39803573 -0.5391673 2
3  0.9408765 0.03970000 -0.79397914 -1.7699451 1
4  1.2027921 0.33478274 -0.56846913 -1.4688406 2
5  1.3026956 0.41978918 -0.40590076 -1.2560159 2
6  2.0432909 1.22501522  0.14296959 -0.7181167 2
7  1.5543389 0.46662120 -0.31018940 -1.3102312 1
8  1.4620045 0.19490194 -0.61250229 -1.5591927 2
9  1.8542605 0.83610862 -0.13190032 -1.0858555 2
10 0.8811591 0.06106303 -0.86106612 -1.6691657 2
11 1.9814288 0.62428222 -0.01100736 -1.3476093 2
12 1.6924574 0.88110012 -0.03813018 -0.9765938 1

In [82]:
t.test(RhodeIsland$mobility,dset$mobility)

	Welch Two Sample t-test

data:  RhodeIsland$mobility and dset$mobility
t = 2.739, df = 11.107, p-value = 0.01911
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.3121819 2.8512680
sample estimates:
mean of x mean of y
 3.098890  1.517165