In [1]:
library(readr)
library(dplyr)
dat <- read_csv("CollegeMobility.csv")
head(dat)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Warning message:
“Missing column names filled in: 'X44' [44], 'X45' [45]”Parsed with column specification:
cols(
  .default = col_double(),
  name = col_character(),
  tier_name = col_character(),
  state = col_character(),
  czname = col_character(),
  X44 = col_logical(),
  X45 = col_logical()
)
See spec(...) for full column specifications.

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        par_q1     ⋯
1 Two-year for-profit           2       1      NY    New York      0.44357512 ⋯
2 Selective private             1       3      TX    Abilene       0.05244135 ⋯
3 Nonselective four-year public 1       3      GA    Valdosta      0.15455518 ⋯
4 Four-year for-profit          1       4      CA    San Francisco 0.09352422 ⋯
5 Selective public              1       4      CO    Alamosa       0.12922439 ⋯
6 Selective private             1       1      NY    New York      0.08704802 ⋯
  kq3_cond_parq4 kq4_cond_parq4 kq5_cond_parq4 kq1_cond_parq5 kq2_cond_parq5
1 0.1760198      0.2858109      0.1156441      0.0962707      0.2985320
2 0.1742201      0.2332917      0.3146711      0.1346296      0.1225604
3 0.2335978      0.3056518      0.2012344      0.1240982      0.1493977
4 0.1671838      0.1889049      0.2519145      0.1966253      0.1850919
5 0.2277163      0.2919978      0.2034337      0.1050013      0.1181480
6 0.1625158      0.1900162      0.4280847      0.1032917      0.1018200
  kq3_cond_parq5 kq4_cond_parq5 kq5_cond_parq5 X44 X45
1 0.2036935      0.2042709      0.1972328      NA  NA
2 0.1417430      0.2391946      0.3618724      NA  NA
3 0.1966711      0.3047610      0.2250720      NA  NA
4 0.1701652      0.1515126      0.2966050      NA  NA
5 0.2660201      0.2192669      0.2915637      NA  NA
6 0.1185716      0.1900711      0.4862457      NA  NA

In [2]:
dset <- unique(dat[,c("super_opeid","name","type","tier","tier_name","iclevel","region","state","czname")])
head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname
1 Two-year for-profit           2       1      NY    New York
2 Selective private             1       3      TX    Abilene
3 Nonselective four-year public 1       3      GA    Valdosta
4 Four-year for-profit          1       4      CA    San Francisco
5 Selective public              1       4      CO    Alamosa
6 Selective private             1       1      NY    New York

In [5]:
idx <- function(k, v1, v2, v3, v4, v5){
    a <- rowSums(cbind((1-k)*v1, (2-k)*v2, (3-k)*v3, (4-k)*v4, (5-k)*v5))
    return(a)
}

dset$mobility1 <- idx(1, dat$kq1_cond_parq1, dat$kq2_cond_parq1, dat$kq3_cond_parq1, dat$kq4_cond_parq1, dat$kq5_cond_parq1)
dset$mobility2 <- idx(2, dat$kq1_cond_parq2, dat$kq2_cond_parq2, dat$kq3_cond_parq2, dat$kq4_cond_parq2, dat$kq5_cond_parq2)
dset$mobility3 <- idx(3, dat$kq1_cond_parq3, dat$kq2_cond_parq3, dat$kq3_cond_parq3, dat$kq4_cond_parq3, dat$kq5_cond_parq3)
dset$mobility4 <- idx(4, dat$kq1_cond_parq4, dat$kq2_cond_parq4, dat$kq3_cond_parq4, dat$kq4_cond_parq4, dat$kq5_cond_parq4)
dset$mobility5 <- idx(5, dat$kq1_cond_parq5, dat$kq2_cond_parq5, dat$kq3_cond_parq5, dat$kq4_cond_parq5, dat$kq5_cond_parq5)
dset$mobility  <- rowSums(cbind(dset$mobility1,dset$mobility2,dset$mobility3,dset$mobility4,dset$mobility5))

head(dset)

  super_opeid name                                            type tier
1 30955       ASA Institute Of Business & Computer Technology 3    11
2  3537       Abilene Christian University                    2     6
3  1541       Abraham Baldwin Agricultural College            1     7
4  7531       Academy Of Art University                       3    10
5  1345       Adams State University                          1     5
6  2666       Adelphi University                              2     6
  tier_name                     iclevel region state czname        mobility1
1 Two-year for-profit           2       1      NY    New York      1.584773
2 Selective private             1       3      TX    Abilene       2.518216
3 Nonselective four-year public 1       3      GA    Valdosta      1.786050
4 Four-year for-profit          1       4      CA    San Francisco 1.796664
5 Selective public              1       4      CO    Alamosa       2.013698
6 Selective private             1       1      NY    New York      2.634732
  mobility2 mobility3  mobility4  mobility5 mobility
1 0.7737764 -0.2276384 -1.0343600 -1.892337 -0.7957861
2 1.2263793  0.2446637 -0.5531854 -1.428880  2.0071932
3 1.0564324  0.2603396 -0.6441070 -1.642689  0.8160261
4 1.0148164  0.0288504 -0.8986257 -1.833620  0.1080854
5 1.1726510  0.3264908 -0.6955311 -1.525756  1.2915529
6 1.6490488  0.7790028 -0.2609731 -1.145841  3.6559698

### Question 1. Does college education in the U.S. increase upward mobility of the younger generation?

In [6]:
t.test(dset$mobility)

	One Sample t-test

data:  dset$mobility
t = 37.836, df = 2198, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 1.438530 1.595801
sample estimates:
mean of x
 1.517165

### Question 2. Does attending public or private colleges make a difference in terms of upward mobility?

In [10]:

public <-filter(dset, type == 1)
private <-filter(dset, type != 1)

summary(dset)
summary(public)
summary(private)

t.test(public$mobility,private$mobility)

  super_opeid        name                type            tier
 Min.   :    1   Length:2199        Min.   :1.000   Min.   : 1.000
 1st Qu.: 1938   Class :character   1st Qu.:1.000   1st Qu.: 6.000
 Median : 3035   Mode  :character   Median :1.000   Median : 6.000
 Mean   : 5324                      Mean   :1.545   Mean   : 7.103
 3rd Qu.: 5254                      3rd Qu.:2.000   3rd Qu.: 9.000
 Max.   :41519                      Max.   :3.000   Max.   :12.000
  tier_name            iclevel          region         state
 Length:2199        Min.   :1.000   Min.   :1.000   Length:2199
 Class :character   1st Qu.:1.000   1st Qu.:2.000   Class :character
 Mode  :character   Median :1.000   Median :3.000   Mode  :character
                    Mean   :1.402   Mean   :2.481
                    3rd Qu.:2.000   3rd Qu.:3.000
                    Max.   :3.000   Max.   :4.000
    czname            mobility1       mobility2         mobility3
 Length:2199        Min.   :0.812   Min.   :0.00903   Min.   :-0.96806
 Class :character   1st Qu.:1.771   1st Qu.:0.93187   1st Qu.: 0.05298
 Mode  :character   Median :2.031   Median :1.16126   Median : 0.25545
                    Mean   :2.099   Mean   :1.21910   Mean   : 0.31509
                    3rd Qu.:2.401   3rd Qu.:1.50785   3rd Qu.: 0.57555
                    Max.   :3.799   Max.   :2.54012   Max.   : 1.64433
   mobility4         mobility5          mobility
 Min.   :-2.1216   Min.   :-3.1437   Min.   :-3.8414
 1st Qu.:-0.8390   1st Qu.:-1.7835   1st Qu.: 0.1964
 Median :-0.6312   Median :-1.5633   Median : 1.2123
 Mean   :-0.5879   Mean   :-1.5282   Mean   : 1.5172
 3rd Qu.:-0.3229   3rd Qu.:-1.2629   3rd Qu.: 2.8424
 Max.   : 0.7053   Max.   :-0.3275   Max.   : 8.2631

  super_opeid        name                type        tier
 Min.   :    1   Length:1190        Min.   :1   Min.   : 2.000
 1st Qu.: 1924   Class :character   1st Qu.:1   1st Qu.: 5.000
 Median : 3185   Mode  :character   Median :1   Median : 9.000
 Mean   : 5032                      Mean   :1   Mean   : 7.467
 3rd Qu.: 5733                      3rd Qu.:1   3rd Qu.: 9.000
 Max.   :41519                      Max.   :1   Max.   :12.000
  tier_name            iclevel          region         state
 Length:1190        Min.   :1.000   Min.   :1.000   Length:1190
 Class :character   1st Qu.:1.000   1st Qu.:2.000   Class :character
 Mode  :character   Median :2.000   Median :3.000   Mode  :character
                    Mean   :1.601   Mean   :2.679
                    3rd Qu.:2.000   3rd Qu.:3.000
                    Max.   :3.000   Max.   :4.000
    czname            mobility1       mobility2        mobility3
 Length:1190        Min.   :1.168   Min.   :0.2613   Min.   :-0.69221
 Class :character   1st Qu.:1.721   1st Qu.:0.8901   1st Qu.: 0.01993
 Mode  :character   Median :1.914   Median :1.0433   Median : 0.15633
                    Mean   :1.976   Mean   :1.1100   Mean   : 0.21963
                    3rd Qu.:2.168   3rd Qu.:1.2954   3rd Qu.: 0.38413
                    Max.   :3.699   Max.   :2.2801   Max.   : 1.43579
   mobility4         mobility5          mobility
 Min.   :-1.5167   Min.   :-2.7457   Min.   :-2.521666
 1st Qu.:-0.8609   1st Qu.:-1.8103   1st Qu.: 0.004088
 Median :-0.7260   Median :-1.6552   Median : 0.655543
 Mean   :-0.6693   Mean   :-1.6055   Mean   : 1.030904
 3rd Qu.:-0.5005   3rd Qu.:-1.4274   3rd Qu.: 1.841354
 Max.   : 0.4920   Max.   :-0.3275   Max.   : 6.690271

  super_opeid        name                type            tier
 Min.   :    9   Length:1009        Min.   :2.000   Min.   : 1.000
 1st Qu.: 1959   Class :character   1st Qu.:2.000   1st Qu.: 6.000
 Median : 2929   Mode  :character   Median :2.000   Median : 6.000
 Mean   : 5670                      Mean   :2.188   Mean   : 6.674
 3rd Qu.: 3783                      3rd Qu.:2.000   3rd Qu.: 8.000
 Max.   :41302                      Max.   :3.000   Max.   :12.000
  tier_name            iclevel          region         state
 Length:1009        Min.   :1.000   Min.   :1.000   Length:1009
 Class :character   1st Qu.:1.000   1st Qu.:1.000   Class :character
 Mode  :character   Median :1.000   Median :2.000   Mode  :character
                    Mean   :1.167   Mean   :2.248
                    3rd Qu.:1.000   3rd Qu.:3.000
                    Max.   :3.000   Max.   :4.000
    czname            mobility1       mobility2         mobility3
 Length:1009        Min.   :0.812   Min.   :0.00903   Min.   :-0.9681
 Class :character   1st Qu.:1.917   1st Qu.:1.05284   1st Qu.: 0.1492
 Mode  :character   Median :2.248   Median :1.36857   Median : 0.4665
                    Mean   :2.244   Mean   :1.34783   Mean   : 0.4277
                    3rd Qu.:2.593   3rd Qu.:1.67665   3rd Qu.: 0.7441
                    Max.   :3.799   Max.   :2.54012   Max.   : 1.6443
   mobility4         mobility5          mobility
 Min.   :-2.1216   Min.   :-3.1437   Min.   :-3.8414
 1st Qu.:-0.7676   1st Qu.:-1.7005   1st Qu.: 0.7065
 Median :-0.4638   Median :-1.4041   Median : 2.2397
 Mean   :-0.4918   Mean   :-1.4370   Mean   : 2.0907
 3rd Qu.:-0.1663   3rd Qu.:-1.1270   3rd Qu.: 3.6418
 Max.   : 0.7053   Max.   :-0.3409   Max.   : 8.2631

	Welch Two Sample t-test

data:  public$mobility and private$mobility
t = -13.354, df = 1781.2, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.2154004 -0.9040999
sample estimates:
mean of x mean of y
 1.030904  2.090655

### Question 3. Does attending lvy or other colleges make a difference in terms of upward mobility?

In [11]:
ivy <- filter(dset, tier == 1)
other_colleges <-filter(dset, tier != 1)

In [12]:
t.test(ivy$mobility,other_colleges$mobility)

	Welch Two Sample t-test

data:  ivy$mobility and other_colleges$mobility
t = 26.734, df = 12.826, p-value = 1.248e-12
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 3.600085 4.234028
sample estimates:
mean of x mean of y
 5.412847  1.495790

In [13]:
t.test(ivy$mobility,dset$mobility)

	Welch Two Sample t-test

data:  ivy$mobility and dset$mobility
t = 26.575, df = 12.851, p-value = 1.293e-12
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 3.578618 4.212745
sample estimates:
mean of x mean of y
 5.412847  1.517165

### Question 4. Does attending colleges in different regions (1 = Northeast, 2 = Midwest, 3 = South, 4 = West) makes a difference in terms of upward mobility?

In [14]:
northeast <- filter(dset, region == 1)
midwest <- filter(dset, region == 2)
south <- filter(dset, region == 3)
west <- filter(dset, region == 4)

In [15]:
t.test(northeast$mobility,dset$mobility)

	Welch Two Sample t-test

data:  northeast$mobility and dset$mobility
t = 8.1874, df = 691.67, p-value = 1.286e-15
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.6309745 1.0290646
sample estimates:
mean of x mean of y
 2.347185  1.517165

In [16]:
t.test(south$mobility,dset$mobility)

	Welch Two Sample t-test

data:  south$mobility and dset$mobility
t = -6.5556, df = 1561.8, p-value = 7.508e-11
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.6113280 -0.3297507
sample estimates:
mean of x mean of y
 1.046626  1.517165

In [17]:
t.test(midwest$mobility,dset$mobility)
t.test(west$mobility,dset$mobility)

	Welch Two Sample t-test

data:  midwest$mobility and dset$mobility
t = 2.3694, df = 858.81, p-value = 0.01804
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.0343677 0.3660716
sample estimates:
mean of x mean of y
 1.717385  1.517165

	Welch Two Sample t-test

data:  west$mobility and dset$mobility
t = -3.7104, df = 526.82, p-value = 0.0002289
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.5794073 -0.1782594
sample estimates:
mean of x mean of y
 1.138332  1.517165

### Question 5. Does year-of-colleges (2-year, 4-year, less than 2 year) make a difference in terms of upward mobility?

In [23]:
fouryr <- filter(dset, iclevel == 1)
twoyr <-filter(dset, iclevel == 2)
lesstyr <-filter(dset, iclevel == 3)

In [24]:
t.test(twoyr$mobility,fouryr$mobility)
t.test(lesstyr$mobility,fouryr$mobility)
t.test(lesstyr$mobility,twoyr$mobility)

	Welch Two Sample t-test

data:  twoyr$mobility and fouryr$mobility
t = -39.308, df = 2144.8, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -2.361392 -2.136970
sample estimates:
mean of x mean of y
0.1605579 2.4097388

	Welch Two Sample t-test

data:  lesstyr$mobility and fouryr$mobility
t = -19.495, df = 51.074, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.415791 -3.591240
sample estimates:
mean of x mean of y
-1.593777  2.409739

	Welch Two Sample t-test

data:  lesstyr$mobility and twoyr$mobility
t = -8.6487, df = 48.614, p-value = 2.114e-11
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -2.162047 -1.346622
sample estimates:
 mean of x  mean of y
-1.5937765  0.1605579

### Question 6 Does attending colleges in different states (RI versus other state) make a difference in terms of upward mobility?

In [25]:
RhodeIsland <- filter(dset, state == "RI")
RhodeIsland

   super_opeid name                                       type tier
1   3401       Brown University                           2     1
2   3402       Bryant University                          2     6
3   3408       Community College Of Rhode Island          1     9
4   3404       Johnson & Wales University                 2     6
5   7845       New England Institute Of Technology        2     8
6   3406       Providence College                         2     4
7   3407       Rhode Island College                       1     5
8   3409       Rhode Island School Of Design              2     8
9   3410       Roger Williams University                  2     6
10 11647       SBI Campus - An Affiliate Of Sanford-Brown 3    11
11  3411       Salve Regina University                    2     6
12  3414       University Of Rhode Island                 1     5
   tier_name                                     iclevel region state
1  Ivy Plus                                      1       1      RI
2  Selective private                             1       1      RI
3  Two-year (public and private not-for-profit)  2       1      RI
4  Selective private                             1       1      RI
5  Nonselective four-year private not-for-profit 1       1      RI
6  Highly selective private                      1       1      RI
7  Selective public                              1       1      RI
8  Nonselective four-year private not-for-profit 1       1      RI
9  Selective private                             1       1      RI
10 Two-year for-profit                           2       1      RI
11 Selective private                             1       1      RI
12 Selective public                              1       1      RI
   czname     mobility1 mobility2 mobility3  mobility4   mobility5  mobility
1  Providence 2.949877  1.9949354 0.94151463  0.09444714 -0.9350934 5.0456809
2  Providence 3.090899  2.0278108 1.30131055  0.39803573 -0.5391673 6.2788887
3  Providence 1.769052  0.9408765 0.03970000 -0.79397914 -1.7699451 0.1857043
4  Providence 2.042767  1.2027921 0.33478274 -0.56846913 -1.4688406 1.5430324
5  Providence 2.066027  1.3026956 0.41978918 -0.40590076 -1.2560159 2.1265954
6  Providence 2.680656  2.0432909 1.22501522  0.14296959 -0.7181167 5.3738154
7  Providence 2.279001  1.5543389 0.46662120 -0.31018940 -1.3102312 2.6795404
8  Providence 2.135780  1.4620045 0.19490194 -0.61250229 -1.5591927 1.6209913
9  Providence 2.455235  1.8542605 0.83610862 -0.13190032 -1.0858555 3.9278486
10 Providence 1.872970  0.8811591 0.06106303 -0.86106612 -1.6691657 0.2849600
11 Providence 2.631644  1.9814288 0.62428222 -0.01100736 -1.3476093 3.8787385
12 Providence 2.682054  1.6924574 0.88110012 -0.03813018 -0.9765938 4.2408880

In [26]:
t.test(RhodeIsland$mobility,dset$mobility)

	Welch Two Sample t-test

data:  RhodeIsland$mobility and dset$mobility
t = 2.739, df = 11.107, p-value = 0.01911
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.3121819 2.8512680
sample estimates:
mean of x mean of y
 3.098890  1.517165